@model IEnumerable<HomeProductViewModel>

@{
    ViewBag.Title = "Shop";
    Layout = "~/Views/Shared/_LayoutSites.cshtml";
}

@using (Html.BeginForm("Shop", "Sites", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <!--================Home Banner Area =================-->

    <section class="banner_area">
        <div class="banner_inner d-flex align-items-center">
            <div class="container">
                <div class="banner_content text-center">
                    <h2>Shop Category Page</h2>
                    <div class="page_link">
                        <a href="/Sites/HomePage">Ana Sayfa</a>
                        <a href="/Sites/Shop">Ürünler</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Home Banner Area =================-->
    <!--================Category Product Area =================-->
    <section class="cat_product_area section_gap">
        <div class="container-fluid">

            <div class="container">
                <div class="row">
                    <div class="col-4">
                        <div class="left_sidebar_area">
                            <aside class="left_widgets cat_widgets">
                                <div class="l_w_title">
                                    <h3>Kategorilere Gözat</h3>
                                </div>
                                <div class="widgets_inner">
                                    <ul class="list">
                                        @foreach (TarziniYarat.Model.Category item in ViewBag.Category)
                                        {
                                            <li>
                                                @Html.ActionLink(item.CategoryName, "Shop", new { catID = item.CategoryID })
                                                @*<a href="/Sites/Shop"  >@item.CategoryName</a>*@
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </aside>
                        </div>
                    </div>
                    <div class="col-4">
                        <aside class="left_widgets p_filter_widgets">
                            <div class="l_w_title">
                                <h3>Ürünleri Filtrele</h3>
                            </div>
                            <div class="widgets_inner">
                                <h4>Beden</h4>
                                <ul class="list">
                                    <li>
                                        <a href="#">Apple</a>
                                    </li>
                                    <li>
                                        <a href="#">Asus</a>
                                    </li>
                                    <li class="active">
                                        <a href="#">Gionee</a>
                                    </li>
                                    <li>
                                        <a href="#">Micromax</a>
                                    </li>
                                    <li>
                                        <a href="#">Samsung</a>
                                    </li>
                                </ul>
                            </div>
                        </aside>
                    </div>
                    <div class="col-4">
                        <aside class="left_widgets p_filter_widgets">
                            <div class="l_w_title">
                                <h3>Renk</h3>
                            </div>
                            <ul class="list">
                                <li>
                                    <a href="#">Black</a>
                                </li>
                                <li>
                                    <a href="#">Black Leather</a>
                                </li>
                                <li class="active">
                                    <a href="#">Black with red</a>
                                </li>
                                <li>
                                    <a href="#">Gold</a>
                                </li>
                                <li>
                                    <a href="#">Spacegrey</a>
                                </li>
                            </ul>
                        </aside>
                    </div>

                </div>
            </div>
        </div>
        @*<div class="row flex-row-reverse">
                <div class="col-lg-9">
                    <div class="product_top_bar">
                        <div class="left_dorp">
                            <select class="sorting">
                                <option value="1">Default sorting</option>
                                <option value="2">Default sorting 01</option>
                                <option value="4">Default sorting 02</option>
                            </select>
                            <select class="show">
                                <option value="1">Show 12</option>
                                <option value="2">Show 14</option>
                                <option value="4">Show 16</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>*@

        <div class="latest_product_inner row">
            @foreach (HomeProductViewModel item in Model)
            {
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="f_p_item">
                        <div class="f_p_img">
                            @{
                                var base65 = Convert.ToBase64String(item.Photo);
                                var img2 = string.Format("data:image/gif;base64,{0}", base65);
                            }
                            <img class="img-fluid" src="@img2" style="max-height:300px;max-width:250px;" />
                        </div>
                        <a href="#">
                            <h4>@item.ProductName</h4>
                        </a>
                        <h5>@item.UnitPrice TL</h5>
                    </div>
                </div>
            }
        </div>

        @*</div>
            </div>*@

        <div class="row">
            <nav class="cat_page mx-auto" aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#">
                            <i class="fa fa-chevron-left" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="page-item active">
                        <a class="page-link" href="#">01</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">02</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">03</a>
                    </li>
                    <li class="page-item blank">
                        <a class="page-link" href="#">...</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">09</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        @*</div>
            </div>*@
    </section>
    <!--================End Category Product Area =================-->
}


