@model List<TarziniYarat.Model.Person>
@{
    ViewBag.Title = "PersonList";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Kullanıcılar</h2>
<br />
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Ad</th>
            <th>Soyad</th>
            <th>Kullanıcı Adı</th>
            <th>Aktiflik</th>
            <th>Aktifleştir/Pasifleştir</th>
            <th>
                Güncelle
            </th>
            <th>
                Sil
            </th>
        </tr>
        @foreach (TarziniYarat.Model.Person item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Surname</td>
                <td>@item.Username</td>
                <td>@item.IsActive</td>
                <td>
                    <button href="#" class="btn btn-primary btnUpdate" data-personID="@item.PersonID">
                        Aktifleştir/Pasifleştir
                    </button>
                </td>
                <td>
                    <button href="#" class="btn btn-success btnDelete" data-personID="@item.PersonID">
                        Güncelle
                    </button>
                </td>
                <td>
                    <button class="btn btn-danger btnActivate" data-personID="@item.PersonID">
                       Sil
                    </button>
                </td>
            </tr>
        }
    </thead>
</table>
<br />
@section scripts{
    <script>
        $(".btnActivate").click(function () {
            var personID = $(this).attr("data-personID");

            $.ajax({
                type: "GET",
                url: "/AdminProcess/ActivatePerson/" + personID,
                success: function (data) {
                    if (data == "ok") {
                        alert("Başarıyla silindi");
                    }
                    else {
                        alert("Aktifleştirmede bir hata oluştu.");
                    }
                }
            });
        });
    </script>
}

