@model List<TarziniYarat.Model.Person>
@{
    ViewBag.Title = "PersonList";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Kullanıcılar</h2>
<br />
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Ad</th>
            <th>Soyad</th>
            <th>Kullanıcı Adı</th>
            <th>Aktiflik</th>
            <th>Aktifleştir/Pasifleştir</th>
            <th>
                Güncelle
            </th>
            <th>
                Sil
            </th>
        </tr>
        @foreach (TarziniYarat.Model.Person item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Surname</td>
                <td>@item.Username</td>
                <td>@item.IsActive</td>
                <td>
                    <button href="#" name="personActive" class="btn btn-primary  btnActivate" data="@item.PersonID">
                        Aktifleştir/Pasifleştir
                    </button>
                </td>
                <td>
                    <button href="#" class="btn btn-success btnUpdate" data="@item.PersonID">
                        Güncelle
                    </button>
                </td>
                <td>
                    <button href="#" class="btn btn-danger btnDelete" dataPersonID="@item.PersonID">
                       Sil
                    </button>
                </td>
            </tr>
        }
    </thead>
</table>
<br />
@section scripts{
    <script>
        $(".btnActivate").click(function () {
            var personID = $(this).attr("data");
            var person = {
                "IsActıve": $("#personActive").val(),
                "PersonID": personID,
            }
            $.ajax({
                type: "POST",
                url: "/AdminProcess/ActivatePerson/"+ personID,
                data:person,
                success: function (resp) {
                    if (resp == "ok") {
                        alert("Başarıyla değiştirildi");
                        window.location.reload();
                    }
                    else {
                        alert("İşlemde bir hata oluştu.");
                        console.log(err);
                    }
                }
            });
        });
    </script>
}

